<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.HotWorkMapper">

    <update id="deleteByIds" parameterType="java.lang.String">
        update monitor_work set isHotWork = 0 where id in ${ids};
    </update>
    <update id="updateIsHotWork" parameterType="java.lang.Integer">
        update monitor_work set isHotWork = 1 where id = ${workId}
    </update>
    <update id="updateEffectScore" parameterType="java.lang.Double">
        update monitor_work set effectScore = ${score} where id = ${workId}
    </update>
    <update id="deleteAllHotWorks">
        update monitor_work set isHotWork = 0 where isHotWork = 1;
    </update>

</mapper>
