<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.MonitorWorkMapper">
    <update id="updateCrawlState" parameterType="java.lang.Integer">
        update monitor_work set crawlOk = 1 where id = #{workId};
    </update>
    <select id="selectByUserId" resultType="com.example.demo.entity.MonitorWork">
        select *
        from monitor_work
        where id in (
            select workId from monitor_request mr
                inner join user us on (mr.userId = us.id)
            where us.username = 'root' or us.id = #{userId}
            )
    </select>

    <select id="findWorkName" resultType="string">
        select name
        from monitor_work
        where id = #{workId}
    </select>
</mapper>
