<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.PolarityAnalysisMapper">
    <!-- 分步查询 -->
    <resultMap id="polarityByStep" type="com.example.demo.entity.PolarityAnalysis">
        <id property="id" column="id" />
        <result property="workId" column="workId" />
        <result property="country" column="country" />
        <result property="time" column="time" />
        <result property="platform" column="platform" />
        <result property="positive" column="positive" />
        <result property="negative" column="negative" />
        <result property="neutrality" column="neutrality" />
        <association property="monitorWork"
                     javaType="com.example.demo.entity.MonitorWork">
            <id property="id" column="userId" />
            <result property="name" column="name" />
            <result property="category" column="category" />
        </association>
    </resultMap>

    <select id="findPage" resultMap="polarityByStep">
        select poa.*, mw.name, mw.category
        from polarity_analy poa
            inner join monitor_work mw
            on (poa.workId = mw.id)
        where mw.name like '%${workName}%'
          and poa.country like '%${country}%'
          and poa.platform like '%${platform}%'
        <if test="time != null and time != ''">
            and time = #{time}
        </if>
        order by poa.id
    </select>

    <select id="findAll" resultMap="polarityByStep">
        select poa.*, mw.name, mw.category
        from polarity_analy poa
                 inner join monitor_work mw
                 on (poa.workId = mw.id)
        order by poa.id
    </select>

    <select id="selectDayInterval" resultType="com.example.demo.entity.dto.PolarityDto">
        select date_tab.`year_date` as postTime, sum(positive) as positive,
          sum(negative) as negative, sum(neutrality) as neutrality
        from
        (SELECT DATE_FORMAT(#{startTime}, '%Y-%m-%d') AS `year_date`
        <if test="offsets != null">
            <foreach item="offset" collection="offsets">
                UNION SELECT DATE_FORMAT((#{startTime} + INTERVAL #{offset} DAY), '%Y-%m-%d') AS `year_date`
            </foreach>
        </if>
        ) as date_tab
        left join (select * from polarity_analy where workId = #{workId}
        <if test="country != null and country != ''">
            and country = #{country}
        </if>
            ) as pa
        on(pa.time = date_tab.`year_date`)
        group by postTime
        order by postTime asc
    </select>
    <select id="findPolarityDis" resultType="com.example.demo.entity.vo.PolarityDistribution">
        SELECT country,
       <if test="type == '积极'">
           sum(positive)
       </if>
       <if test="type == '消极'">
           sum(negative)
       </if>
        <if test="type == '中立'">
            sum(neutrality)
        </if>
             as cnt
        FROM `polarity_analy`
        where workId = #{workId}
        group by country
        order by cnt desc
        <if test="offset != -1">
            limit 0,#{offset}
        </if>
    </select>
    <select id="selectMonthInterval" resultType="com.example.demo.entity.vo.PolarityMonthlyVO">
        select date_tab.`year_month` as postTime, sum(positive) as positive,
               sum(negative) as negative, sum(neutrality) as neutrality
        from (SELECT DATE_FORMAT(CURDATE(), '%Y-%m') AS `year_month`
            <if test="offsets != null">
                <foreach item="offset" collection="offsets">
                    UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL #{offset} MONTH), '%Y-%m') AS `year_month`
                </foreach>
            </if>
            ) as date_tab
                 left join (select * from polarity_analy
                    where 1 = 1
                    <if test="country != null and country != ''">
                         and country = #{country}
                     </if>
                     <if test="workId != null and workId != ''">
                          and workId = ${workId}
                     </if>
                     ) as pa
                     on(DATE_FORMAT(pa.time, "%Y-%m") = date_tab.`year_month`)
        group by postTime
        order by postTime
    </select>
    <select id="selectCountries" resultType="java.lang.String" parameterType="java.lang.Integer">
        select country from
        (select country, sum(positive) as posCnt from polarity_analy
        <if test="workId != null and workId != -1">
            where workId = #{workId}
        </if>
        group by country
        having posCnt > 3
        order by posCnt desc) as tab
    </select>
    <select id="selectWorksPolarity" resultType="com.example.demo.entity.PolarityAnalysis">
        SELECT workId, sum(positive) as positive,
               sum(negative) as negative,
               sum(neutrality) as neutrality
        FROM `polarity_analy`
        group by workId
    </select>
    <select id="selectPolarityByMonth" resultType="com.example.demo.entity.dto.PolarityDto">
        select sum(positive) as positive, sum(negative) as negative, sum(neutrality) as neutrality
        from polarity_analy
        where DATE_FORMAT(time, '%Y-%m') = #{selectMonth}
            <if test="workId != null and workId != ''">
                and workId = #{workId}
            </if>
          <if test="country != null and country != ''">
              and country =  #{country}
          </if>

    </select>
</mapper>
