<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.SubjectAnalysisMapper">

    <select id="selectByWorkIdAndSubject" resultType="com.example.demo.entity.SubjectAnalysis">
        select *
        from subject_analysis
        where workId = #{workId} and subject = #{subject}
    </select>
    <select id="selectSubjectsByWorkId" resultType="java.lang.String" parameterType="java.lang.Integer">
        select distinct subject
        from subject_analysis
        where workId = #{workId}
        order by subject
    </select>
</mapper>
