<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.WorkInformationMapper">
    <!-- 分步查询 -->

    <select id="getDoubanData" resultType="com.example.demo.entity.vo.DoubanData">
        select MAX(score) maxScore, MIN(score) minScore, MAX(commentNum) maxCommentNum, MIN(commentNum) minCommentNum from work_information
        where platform = #{platform}
    </select>

    <select id="getIMDbData" resultType="com.example.demo.entity.vo.IMDbData">
        select MAX(score) maxScore, MIN(score) minScore, MAX(commentNum) maxCommentNum,
               MIN(commentNum) minCommentNum, MAX(collection) maxCollection, MIN(collection) minCollection
        from work_information where platform = #{platform}
    </select>
    <select id="getYoutubeData" resultType="com.example.demo.entity.vo.YoutubeData">
        select MAX(zanNum) maxZanNum, MIN(zanNum) minZanNum, MAX(commentNum) maxCommentNum,
               MIN(commentNum) minCommentNum, MAX(viewNum) maxViewNum, MIN(viewNum) minViewNum
        from work_information where platform = #{platform}
    </select>
</mapper>
